@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #FF008E;
}
.banner-image{
    height: 90vh;
    opacity: 0.6;
}
.slide-text{
    margin-bottom: 100px;
}
.home-text{
    color: black;
}