@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: rgb(54, 53, 53);
}
.banner-image{
    height: 90vh;
    opacity: 0.6;
}
.slide-text{
    margin-bottom: 100px;
}
.home-text{
    color: black;
}
.subscribe-sec,.ask-qes,.ask-text{
    margin-bottom: 100px;
}
.bground{
    border-radius: 15px;
}
.primary-button{
    color: blue;
    text-decoration: none;
    background-color: rgb(221, 215, 215);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
.question-image{
    height: 300px;
    
}
footer{
    background-color: black;
    height: 150px;
}
.google-icon{
    text-decoration: none;
    
}
.app-store{
    text-decoration: none;
    margin-top: 15px;
}